@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .text-edge-outline {
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    }
}

@media screen and (max-width: 1100px) {
    div {
        flex-direction: column;
    }

    #home {
        margin-left: 20px;
        margin-right: 20px;
    }

    body {
        min-width: 500px;
    }
}

